.summary-textarea{
  width: 100%;
  background-color: white;
  border: none;
    height: 250px;
}

.summary-textarea::placeholder{
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px
}
.save-button{
  width: 100%;
  background-color: darkslateblue;
  color: white;
  text-align: center;
  border: none;
  padding: 10px;
}