input[type="text"]{
  width: 100%;
  border: none;
  border-bottom: 1px solid darkslateblue;
  height: 50px;
}

textarea{
  width: 100%;
  border: .5px solid grey;
}


.input-title::placeholder{
  font-size: 36px;
}

.form-container{
  padding: 20px;
}

.field-label{
  margin-top: 30px;

}

.addUser{
  display: flex;
  align-items: center;
}
.userlogo{
  height: 50px;
  widows: 50px;
  border-radius: 50%;
  margin: 15px;
}

